# Optional but useful
COMPOSE_PROJECT_NAME=auto_thesis

NODE_ENV=production
LOGS_TAIL=200

# Scale agents
AGENTS_REPLICAS=10
AGENTS_CONCURRENCY=2

# HOST ports (exposés sur la machine)
FRONTEND_HOST_PORT=3000
BACKEND_HOST_PORT=8080
MCP_HOST_PORT=8081

# Internal ports (dans le container)
FRONTEND_PORT=3000
BACKEND_PORT=8080
MCP_PORT=8081

# DB / Redis
POSTGRES_DB=appdb
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

DATABASE_URL=postgres://admin:admin@postgres:5432/appdb
REDIS_URL=redis://redis:6379
MCP_URL=http://mcp:8081

# Frontend
PUBLIC_API_BASE_URL=http://localhost:8080
