# Optional but useful
COMPOSE_PROJECT_NAME=auto_thesis

GHCR_OWNER=squadronxfr
GHCR_REPO=auto_thesis
APP_VERSION=scrum-23-deploiement_template_docker

NODE_ENV=production
LOGS_TAIL=200

# Scale agents
AGENTS_REPLICAS=10
AGENTS_CONCURRENCY=2

# Host ports (exposed on the machine)
FRONTEND_HOST_PORT=3000
VITE_API_URL=http://localhost:8080

BACKEND_HOST_PORT=8080
MCP_HOST_PORT=8081

# Internal ports (inside the container)
FRONTEND_PORT=3000
BACKEND_PORT=8080
MCP_PORT=3000

# DB / Redis
POSTGRES_DB=appdb
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin

DATABASE_URL=postgres://admin:admin@postgres:5432/appdb
REDIS_URL=redis://redis:6379
MCP_URL=http://mcp:3000

# Backend auth / AI
SECRET_KEY=
GEMINI_API_KEY=
ALGORITHM=HS256
ALLOWED_HOSTS=*

# MCP AI
AI_API_URL=https://generativelanguage.googleapis.com/v1beta/models/gemini-1.5-flash:generateContent
AI_API_KEY=
BRAVE_API_KEY=

# Frontend
PUBLIC_API_BASE_URL=http://localhost:8080