{
    "semi": true,
    "tabWidth": 4,
    "printWidth": 100,
    "singleQuote": true,
    "trailingComma": "es5",
    "bracketSpacing": true,
    "endOfLine": "lf",
    "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
    "importOrder": [
        "^react",
        "^lucide-react",
        "^@/api(.*)$",
        "^@/components(.*)$",
        "^@/components/ui(.*)$",
        "^@/features(.*)$",
        "^@/lib(.*)$",
        "^@/stores(.*)$",
        "^@/mocks(.*)$",
        "^@?\\w",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
