GEMINI_API_KEY=
SECRET_KEY=
ALGORITHM=HS256
PORT=8000
HOST=127.0.0.1
DATABASE_URL=0.tcp.eu.ngrok.io:19445
DATABASE_PORT=19445
DATABASE_NAME=appdb
DATABASE_USER=
DATABASE_PASSWORD=
SSL=FALSE
ALLOWED_HOSTS=